<!-- Todavía estoy metiendo mano aquí por si a caso -->
<div class="modal fade" id="ModalCarro" tabindex="-1" aria-labelledby="ModalCarroLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header h1 justify-content-center">Carro de compras</div>
            <div class="modal-body h5">
                <div class="container py-5" >
                    <div class="row d-flex justify-content-center my-4">
                        <div class="col-md-8"  style="color: black;" >
                            <div class="card mb-4" style="background: honeydew;">
                                <div class="card-header py-3">
                                    <h5 class="mb-0">Carro de compras</h5>
                                </div>
                                <div class="card-body row">
                                    {% for key, value in request.session.carro.items %}
                                    {% if request.session.carro.items %}
                                        <div class="col-lg-5 col-md-6 mb-4 mb-lg-0 h4" >
                                            <p><strong>{{value.nombre}}</strong></p>
                                            <p><strong>Cantidad: {{value.cantidad}}</strong></p>
                                        </div>
                                        <div class="col  ">
                                            <div class="d-flex justify-content-center mb-4 " style="max-width: 325px 325px"> 
                                                <a href="{% url 'carro:agregar' value.producto_id %}" class="btn btn-primary px-3 me-2 ">+</a>
                                                <div class="form-outside fs-2">
                                                    <input  value="{{value.cantidad}}"  class="form-control text-center" />
                                                </div>
                                                <a href="{% url 'carro:restar' value.producto_id  %}" class="btn btn-primary px-3 ms-2 ">-</a>
                                            </div>
                                            <strong class="fs-4">Suma: ${{value.precio}}</strong>
                                        </div>
                                    {% else %}
                                        <div class="alert alert-danger">Sin productos</div>
                                    {% endif %}
                                        <hr class="my-4" />
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="card mb-4 mb-lg-0" style="background: honeydew;">
                                <div class="card-body">
                                    <p><strong>Aceptamos también!</strong></p>
                                    <img class="me-2" width="45px"
                                        src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                                        alt="Visa" />
                                    <img class="me-2" width="45px"
                                        src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                                        alt="American Express" />
                                    <img class="me-2" width="45px"
                                        src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                                        alt="Mastercard" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4"  style="color: black;">
                            <div class="card mb-4" style="background: honeydew;">
                                <div class="card-header py-3">
                                    <h3 class="mb-0">Sumario</h3>
                                </div>
                                <div class="card-body">
                                    <ul class="list-group list-group-flush" >
                                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3 fs-4" style="background: honeydew;">
                                            <div>
                                                <strong>Total</strong>
                                            </div>
                                            <span><strong>${{importe_total_carro}}</strong></span>
                                        </li>
                                    </ul>
                                    <a class="btn btn-primary btn-lg btn-block" {% if user.is_authenticated %}
                                        href="{% url 'pagar' %}" {% else %} href="{% url 'login' %}" {%endif%}>Comprar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary fs-4 container align-items-center" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
