{% extends 'app/base.html' %}

{% block content %}
{% load crispy_forms_tags %}
<div class="barra__lateral">
    {% if perms.app.add_producto %}
    <a class="welcome__links barra__margin" href="{% url 'agregar_producto' %}">Agregar producto</a>
    <a class="welcome__links barra__margin" href="{% url 'agregar_categoria' %}">Agregar categoria</a>
    {% endif %}
    {% if perms.app.view_producto %}
    <a class="welcome__links barra__margin" href="{% url 'listar_productos' %}">Listado Productos</a>
    <a class="welcome__links barra__margin" href="{% url 'listar_categorias' %}">Listado Categorias</a>
    {% endif %}
    {% if perms.app.view_sub %}
    <a class="welcome__links barra__margin" href="{% url 'listar_sub' %}">Listado Suscriptores</a>
    <a class="welcome__links barra__margin" href="{% url 'listar_usuarios' %}" >Listado de Clientes</a>
    {% endif %}
</div>
<div class="container mb-4">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3 mb-md-5 mt-md-4 pb-5">
            <div class="card bg-dark text-white">
                <div class="card-body p-5 text center fs-4 ">
                    <h2>Suscribete</h2>
                    <hr>
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <div class="d-flex justify-content-end">
                            <input class="btn btn-outline-light btn-lg px-5" type="reset" value="Cancelar">
                            &nbsp;
                            <input class="btn btn-outline-light btn-lg px-5" type="submit" value="Guardar">
                        </div>
                    </form>
                    {{ mensaje }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}