{% extends 'app/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block js %}
<script>
    function eliminarDespacho(id) {
        Swal.fire({
            "title": "¿Estas Seguro?",
            "text": "esta accion no se puede deshacer",
            "icon": "question",
            "showCancelButton": true,
            "cancelButtonText": "No, Cancelar",
            "confirmButtonText": "Si, Eliminar",
            "reverseButtons": true,
            "confirmButtonColor": "#dc3545"
        })
            .then(function (result) {
                if (result.isConfirmed) {
                    window.location.href = "/eliminar-despacho/" + id + "/"
                }
            })
    }
</script>
{% endblock %}

<section>
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 ">
                <div class="card bg-dark text-white " style="border-radius: 1rem;">
                    <div class="card-body ">
                        <h2 id="" style="color: white;">Listado de Despachos</h2>
                        <hr>
                    </div>
                    <table class="table table-dark table-striped table-hover table-responsive-sm fs-4">
                        <tr>
                            <th>NOMBRE</th>
                            <th>APELLIDO</th>
                            <th>CORREO</th>
                            <th>PRODUCTO</th>
                            <th>PRECIO</th>
                            <th>ESTADO</th>
                            <th>OPCIONES</th>
                        </tr>
                        {% for d in entity %}
                        <tr>
                            <td>{{d.nombreCliente | title }}</td>
                            <td>{{d.apellidoCliente | title}}</td>
                            <td>{{d.correoCliente }}</td>
                            <td></td>
                            <td></td>
                            <td>{{d.estado}}</td>
                            <td>
                                {% if perms.app.change_dispatch %}
                                <a class="btn btn-info btn-sm" href="{% url 'modificar_despacho' d.id %}">Modificar</a>
                                {% endif %}
                                {% if perms.app.delete_dispatch %}
                                <a class="btn btn-danger btn-sm" href="#"
                                    onclick="eliminarDespacho({{ d.id }})">Eliminar</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    <div>
                        {% include 'app/paginator.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<br>



{% endblock %}