{% extends 'app/base.html' %}


{% block content %}

{% load crispy_forms_tags %}

<div class="container mb-4 mt-5 ">
    <div class="row ">
        <div class="col-12 col-md-6 offset-md-3 mb-md-5 mt-md-4 pb-5 ">
            <div class="card bg-dark text-white  " style="border-radius: 1rem;">
                <div class="card-body p-5 text-center fs-4">
                    <h1 style=" color: white;">Modifica el despacho!</h1>
                    <hr style="color: white;">
                    <div class="card-body ">
                        <form action="" method="post" enctype="multipart/form-data" style="display: grid; padding: 3%;">
                            {% csrf_token %}
                            {{ form | crispy}}
                            <hr style="color: white;">
                            <div class="d-flex justify-content-center">
                                <input type="reset" value="Limpiar" class="btn btn-success fs-4">
                                &nbsp;
                                <input type="submit" value="Modificar" class="btn btn-primary fs-4">
                            </div>
                        </form>
                        {{mensaje}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}