{% extends 'app/settings/settings_base_2.html' %}
{% load static %}
{% block title %}Historial{% endblock title %}
{% block contenido %}
<div class="configuracion__menuHist">
    <h2 class="fw-bold mb-2 text-uppercase" style="margin-top: 1rem;">Compra online</h2>
    <hr>
    <div class="configuracion__marginHist">
        <label class="form-label fw-bold fs-4 histLetras">Fecha de compra: X</label>
        <div class="configuracion__flexHist">
            <div class="form-outline form-white mb-4">
                <label class="form-label fw-bold fs-4 histLetras">Pedido n°X</label>
            </div>
            <div class="form-outline form-white mb-4">
                <label class="form-label fw-bold fs-4 histLetras">Entregado el X de X</label>
            </div>
            <div class="form-outline form-white mb-4">
                <label class="form-label fw-bold fs-4 histLetras">Estado: X</label>
            </div>
        </div>
    </div>
</div>
{% endblock %}