hr {
    margin: 2rem 0;
}

th, td {
    text-align: center!important;
}

.form-control-lg {
    min-height: calc(1.5em + 1rem + 2px);
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
    text-align: center;
}

#boton-vaciar {
    width: 2rem;
}

.btnComprar {
    display: none;
    width: 24.7rem;
    margin-bottom: 0.5rem;
}

.detalle {
    height: 14rem;
}

.card:hover .btnComprar {
    display: block;
}

/* Pago section */
.pago__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.pago__size {
    height: 58rem;
}

.pago__width {
    width: 45rem;
}

/* Configuraciones */

/** Welcome **/
.welcome {
    margin: 8rem auto;
}

.welcome h2 {
    font-size: 10rem;
}

/** Configuración - Barra superior**/
.configuracion__saludoUser{
    background-color: rgb(33,37,41);
    position: absolute;
    width: 120rem;
    height: 5rem;
    overflow: hidden;
    position: relative;
    margin: 3rem auto;
    border-radius: 2rem;
    padding-left: 5rem;
    padding-top: .8rem;
    color: aliceblue;
}

/** Configuración - Menu izquierdo **/
li {
    list-style: none;
}

.configuracion__links {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.5rem;
    
}

.configuracion__linksSpace {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.configuracion__linksSpace p{
    padding-left: 3rem;
}

.configuracion__linksSpace:hover {
    color: white;
    background-color: rgb(61, 61, 61);
}

.configuracion__contentIzq {
    margin-top: 2rem;
}

.configuracion__contentIzq ul{
    padding-left: 0rem;
}

.configuracion__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-top: 1rem;
}

.configuracion__espacio {
    margin-left: 10rem;
    margin-right: 20rem;
}

.configuracion__menuIzq {
    background-color: rgb(33,37,41);
    position: absolute;
    width: 20rem;
    height: 50rem;
    overflow: hidden;
    position: relative;
    margin-left: 15rem;
    border-radius: 2rem;
    color: aliceblue;
}

/** Configuración - Menú derecho / Centro **/
.configuracion__menuCtr, .configuracion__menuDer {
    background-color: rgb(33,37,41);
    position: absolute;
    width: 35rem;
    height: 50rem;
    overflow: hidden;
    position: relative;
    border-radius: 2rem;
    color: aliceblue;
}

.configuracion__datosPersonales, .configuracion__datosBancarios {
    text-align: center;
    margin-top: 3rem;
}

.space {
    padding-left: 4rem;
    padding-right: 4rem;
}

.configBtn {
    margin-top: 2rem;
}

/** Menu Historial **/
.configuracion__menuHist {
    background-color: rgb(33,37,41);
    position: absolute;
    width: 78rem;
    height: 50rem;
    overflow: hidden;
    position: relative;
    border-radius: 2rem;
    color: aliceblue;
}

.configuracion__flexHist {
    display: flex;
    flex-direction: row;
}

.histLetras {
    padding-left: 5rem;
}
.configuracion__marginHist {
    margin-left: 6rem;
}

/** Direcciones menu **/
.configuracion__btnsDire {
    display: flex;
    justify-content: space-around;
}

.configuracion__menuDir {
    background-color: rgb(33,37,41);
    position: absolute;
    width: 78rem;
    height: 35rem;
    overflow: hidden;
    position: relative;
    border-radius: 2rem;
    color: aliceblue;
}

.configuracion__menuBtn_2 {
    background-color: rgb(33,37,41);
    position: absolute;
    width: 78rem;
    height: 6rem;
    overflow: hidden;
    position: relative;
    border-radius: 2rem;
    color: aliceblue;
    margin-top: 1rem;
}

/* Pagar sin estar registrado */
.pagar__width {
    width: 35rem;
}

.reloj {
    color:white;
    font-size: 2rem;
    transform: translate(500px, 0px);
}

/* Nav padding */
@media (min-width: 1440px) {
    .barra__padding {
        padding: 2.8rem 1.9rem 3.8rem 1.9rem;
    }
    
    .barra__padding:hover {
        background-color: rgb(32, 32, 32);
        color: white;
    }
    
    .nav__center {
        transform: translate(3.5rem, 0);
    }
}

#id_password {
    text-align: center;
}

/* Welcome links */
.welcome__flex {
    display: flex;
    justify-content: center;
    margin: 8rem auto;
}

.welcome__links {
    background-color: rgb(33,37,41);
    color: white;
    padding: 1rem 1.9rem;
    margin: 0 10rem;
    border: solid 0.02px;
    border-radius: 12px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    text-decoration: none;
    font-size: 1.3rem;
    text-align: center;
    
    
}

.welcome__links:hover {
    color: #00c400;
    background-color: #464343;
}

/* Home admin */
.welcome__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
}

/* Barra lateral */
.barra__lateral {
    margin: 3.2rem 32.2rem;
}

.barra__translate {
    transform: translate(10px, 182px);
}

.barra__margin {
    margin: 0 0 0 0!important;
}