{% extends 'app/base.html' %}
{% load static %}
{% block title %}Pagar{% endblock title %}
{% block content %}
{% load crispy_forms_tags %}
<section class="vh-10">
    <div class="container py-5 h-10">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5 h-100 card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <h2 class="fw-bold mb-2 h1 text-uppercase">Carrito de compras</h2>
                    <div class="container py-5">
                        <div class="row d-flex justify-content-center my-4">
                            <div class="col-md" style="color: black;">
                                <div class="card mb-4" style="background: honeydew;">
                                    <div class="card-body row">
                                        {% for key, value in request.session.carro.items %}
                                        {% if request.session.carro.items %}
                                        <div class="col justify-content-center h5 container d-flex flex-column ">
                                            <p class="align-items-center"><strong>Nombre del Producto: {{value.nombre}}</strong></p>
                                            <p><strong>Cantidad: {{value.cantidad}}</strong></p>
                                            <p><strong>Suma: ${{value.precio}}</strong></p>
                                        </div>
                                        {% endif %}
                                        <hr class="my-4" />
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" style="color: black;">
                                <div class="card mb-4" style="background: honeydew;">
                                    <div class="card-body">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3 fs-4"
                                                style="background: honeydew;">
                                                <div>
                                                    <strong>Total:</strong>
                                                </div>
                                                <span><strong>${{importe_total_carro}}</strong></span>
                                            </li>
                                        </ul>
                                        <a class="btn btn-success  fs-4 container align-items-center" href="{% url 'catalogo' %}">Seguir comprando</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-12 col-md-8 col-lg-6 col-xl-5 py-5 h-100">
                <div class="card bg-dark text-white " style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-5 mt-md-4 pb-5">
                            <h2 class="fw-bold mb-2 text-uppercase">Pago</h2>
                            <p class="text-white-50 mb-5">Metodos de pago</p>
                            <form id="registro">
                                <div class="form-group edit">
                                    <div class="form-outline form-white mb-4">
                                        <label class="form-label fw-bold fs-4">Precio final:</label>
                                        <span class="form-label fw-bold fs-4">$</span>
                                        <span class="form-label fw-bold fs-4" id="pago">0</span>
                                    </div>
                                    <div class="form-outline form-white mb-4">
                                        <label class="form-label fw-bold fs-4">Cupon de descuento:</label>
                                        <input type="text" class="form-control form-control-lg" />
                                    </div>
                                    <div class="form-outline form-white mb-4">
                                        <label for="InputAddress" class="form-label fw-bold fs-4">Metodo de pago:
                                        </label>
                                        <select class="form-select fs-5">
                                            <option active>Metodo de pago</option>
                                            <option value="1">Tranferencia bancaria</option>
                                            <option value="2">Tarjeta de credito</option>
                                            <option value="3">Tarjeta de debito</option>
                                        </select>
                                    </div>
                                    <label class="form-label fw-bold fs-4"> Comentarios:</label>
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Leave a comment here"
                                            id="floatingTextarea2" style="height: 100px; resize: none;"></textarea>
                                    </div>
                                </div>
                                <div>
                                    <input type="reset" class="btn btn-outline-light btn-lg px-5 tamanno"
                                        id="btnCancelar" value="Cancelar">
                                    <input type="submit" class="btn btn-outline-light btn-lg px-5 tamanno" id="btnPagar"
                                        value="Pagar">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}