{% extends 'app/base.html' %}
{% load static %}
{% block title %}Catalogo{% endblock title %}
{% block content %}
{% load humanize %}
<br>
<br>
<br>
<h2 class="h1">Productos de nuestra tienda!</h2>
<div class="container  mt-5">
    <div style="float: center;">
        {% include "app/carro/widget.html" %}
    </div>
    <div class="productos">
        {% for p in productos %}
        <div class="producto d-flex justify-content-center">
            <div class="card contenedor_producto border border-dark rounded-4"
                style=" background-color: rgb(122, 217, 200);">
                {% if p.imagen %}
                <img class="card-img-top" src="{{ p.imagen.url }}" style="width:100%; padding:2%;"
                    alt="imagen producto">
                {% endif %}
                <!-- saque la clase ' detalle ' -->
                <div class="card-body " style="background-color: rgb(151, 237, 236);">
                    <h5>Categoria: {{ p.nombreCat | capfirst }}</h5>
                    <h5>Categoria: {{ p.cantidadProducto | capfirst }}</h5>
                    <h2>{{ p.nombreProducto | title }}</h2>
                    <h5>Descripcion: {{ p.descripcionProducto | capfirst }}</h5>
                    <h3>Precio: ${{ p.precioProducto | intcomma }}</h3>
                </div>
                <div class="card-footer text-center">
                    <a {% if user.is_authenticated %} href="{% url 'carro:agregar' p.id %}"  {% else %} href="{% url 'login' %}" {% endif %} class="btn btn-success ">Agregar a carrito</a>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>
<br>
<br>
<br>
{% endblock %}