{% extends 'app/base.html' %}
{% load static %}
{% block title %}Catalogo{% endblock title %}
{% block content %}
{% load humanize %}
{% load mathfilters %}
<br>
<br>
<br>
<h2 class="h1" style="color: honeydew;">Productos de nuestra tienda!</h2>
<div class=" container d-flex justify-content-center">
    <a class="btn-success welcome__links" href="{% url 'historial_usuario' %}">Historial de compra</a>
</div>
<div class="container  mt-5">
    <div style="float: center;">
        {% if request.user.is_authenticated %}
            {% include "app/carro/widget.html" %}
        {% endif %}
    </div>
    <div class="productos">
        {% for p in productos %}
        <div class="producto d-flex justify-content-center">
            <div class="card contenedor_producto border border-2 border-dark" style="background-color: #333333; border-radius: 20px; padding: 7px;">
                {% if p.imagen %}
                <img class="card-img-top" src="{{ p.imagen.url }}" style="width:100%; padding:2%; border-radius: 12px; border: solid white 0.5px;"
                    alt="imagen producto">
                {% endif %}
                <div class="card-body rounded" style="background-color: transparent; color: white; text-align: center;">
                    <h2>{{ p.nombreProducto | title }}</h2>
                    <h3>Precio: ${{ p.precioProducto | intcomma }}</h3>
                    <h5>Cantidad: {{ p.cantidadProducto | capfirst }}</h5>
                    <h5>Descripcion: {{ p.descripcionProducto | capfirst }}</h5>
                    <h5>Categoria: {{ p.nombreCat | capfirst }}</h5>
                </div>
                <div class="card-footer text-center">
                    <a {% if user.is_authenticated %} href="{% url 'carro:agregar' p.id %}"  {% else %} href="{% url 'login' %}" {% endif %} class="btn btn-outline-light btn-lg px-5">Agregar a carrito</a>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
    <div>
        {% include 'app/paginator.html' %}
    </div>
    
</div>
<br>
<br>
<br>
{% endblock %}