<div class="modal fade" id="ModalClima" tabindex="-1" aria-labelledby="ModalClimaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal Clima</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="container mb-4">
                    <div class="card bg-dark text-white">
                        <div class="card-body ">
                            <h2>Informate de tu Clima y T°!</h2>
                            <hr>
                            <button class="btn btn-primary container align-items-center"
                                id="btnLocalizar">Localizar</button>
                        </div>
                        <table class="table table-dark table-striped table-hover table-responsive-sm fs-4">
                            <tr>
                                <th>Ciudad/Comuna</th>
                                <th>Clima Actual</th>
                                <th>T° Actual</th>
                                <th>T° Minima</th>
                                <th>T° Maxima</th>
                            </tr>
                            <tr id="resultado"></tr>
                        </table>
                    </div>
                    <br>
                    <br>
                    <br>
                </div>
                <script>
                    var x = document.getElementById("resultado");
                    $("#btnLocalizar").click(function () {
                        navigator.geolocation.getCurrentPosition(function (position) {
                            let lat = position.coords.latitude;
                            let long = position.coords.longitude;

                            $.get("https://api.openweathermap.org/data/2.5/weather?lat=" + lat + "&lon=" + long + "&lang=sp&units=metric&appid=e7f7bdc257804d7dd9bc1b7af07e2a26", function (data) {
                                console.log(data);
                                $("#resultado").empty();
                                $("#resultado").append("<td>" + data.name + "</td>");
                                if (data.weather[0].main == "Clear") {
                                    $("#resultado").append("<td> Despejado</td>");
                                } else if (data.weather[0].main == "Cloudy") {
                                    $("#resultado").append("<td> Nublado</td>");
                                } else {
                                    $("#resultado").append("<td>" + data.weather[0].main + "</td>");
                                }
                                $("#resultado").append("<td>" + Math.round(data.main.temp) + "</td>");
                                $("#resultado").append("<td>" + Math.round(data.main.temp_min) + "</td>");
                                $("#resultado").append("<td>" + Math.round(data.main.temp_max) + "</td>");
                                $("#resultado").append("<tr>");
                            });
                        });
                    });
                </script>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>